/*--------ОСНОВНЫЕ----------------------------------------------------------------*/
body {
	font-family: 'Raleway', sans-serif;
	min-width: 1170px;
}
* {
	padding: 0;
	margin: 0;
}
ul {
	display: flex;
}
li {
	list-style: none;
	display: flex;
}
a {
	text-decoration: none;
}
/*--------------------------------------------------------------------------------*/
/*--------------"ШАПКА"-----------------------------------------------------------*/
header {
	background: #ffffff;
	padding: 17px 0;
}
.header {
	width: 1110px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header__img img {
	width: 263px;
	height: 67px;
}
.body__number{
	font-family: 'Arial';
}
.header__phones h3 {
	color: #b0b4b9;
	font-size: 9px;
	font-weight: 600;
}
.header__phones {
	float: left;
	margin-right: 80px;
	text-align: left;
	margin-top: 10px;
}
.body__number--header {
	font-size: 24px;
	font-weight: bold;
}
/*-------------------------*/
.header__contacts {
	outline:none;
	margin-left: 20px;
	width: 46px; 
	height: 46px;
	background: #ffc821;
	border-radius: 50%;
	margin-top: 10px;
	border:none;
	cursor: pointer;
}
.header__contacts:hover .header__contacts--img{
	fill:#ffc821;
}
.header__contacts:hover{
 	background:black;
}
.header__container {
	display: flex;
}
.header__contacts svg {
	position: relative;
	top:1px;
}
/*-------------------------*/
.main__horisontalrule hr {
	border:none;
	background:#d8dcde;
	height: 1px;
}
.main__menu {
	width: 1150px;
	margin: 0 auto;
	display: flex; 
}
.main__menu a {
	color: #1d232a;
	font-size: 17px;
	padding: 20px 22px; /*область нажатия по кнопке меню*/
	font-weight: 600;
}
.main__menu a:hover{
	background: #e5e9eb;
}
#menu-checkbox {
	display: none;
}
input[type=search] {
	font-size: 12px;
	width: 200px;
	height: 61px;
	background:#e5e9eb;
	color:#9b9fa1;
	border: none;
	text-align: center;
	outline: none;
	margin-left:250px;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
input[type=image] {
	width: 15px;
	height: 15px;
	border: none;
	padding-top: 21px;
	background: #e5e9eb;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 25px;
}
input[type=image]:hover{
	color: #ffc821;
}
/*--------------------------------------------------------------------------------*/
/*---------ОСНОВНОЙ-СЛАЙД---------------------------------------------------------*/
.main__top { /*Оформление секции Главный Слайд, отступ для текста С 1945..., выравние по середине, а также цвет текста-булый*/
	background: url(img/top-slide.jpg) center no-repeat;
	height: 880px;
	padding-top: 128px;
	text-align: center;
	font-size: 26px;
	color:white;
	margin: 0 auto;
}
.main__top h1 { /*Изменения размера шрифта и Отступ сверху черты до СТАБИЛЬНО...*/
	padding-top: 26px;
	font-size: 45px;
	font-weight: 800;
}
.main__top h3 {
	font-size: 26px;
	font-weight: bold;
}
.main__top .body__number { /*Чтобы строчка не переходила на другую строку после употребления div для изменения шрифта для цифр*/
	display: inline;
}
.main__top--text1 { /*Изменения цвета текста ЗАПЧАСТИ... и чтобы не происходил переход на другую строчку*/
	color:#ffc821;
	display: inline;
}
.main__top-but {
	margin-top: 45px; 
}
.body__button { /*Кнопка УЗНАТЬ БОЛЬШЕ*/
	font-weight: 600;
	line-height: 20px;
	font-size: 20px;
	padding: 21px 33px 21px 38px;
	background-color: #ffc821;
	border-radius: 50px;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	outline: none;
}
.body__button:hover { /*Изменения цвета кнопки при наведении на неё*/
	filter: brightness(110%);
}
/*------АНИМАЦИЯ СТРЕЛОЧКИ-----*/
.main__button-arrow { /*Изначальное положение стрелочки*/
	border-radius:0;
    padding-left:33px; 
    line-height:0;
    vertical-align:middle;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition:all 500ms;
}
/*.body__button:hover .main__button-arrow{
	margin-left: 33px;
	border-radius:100%;
}
/*-----------------------------*/
.main__top--text{ /*Отступ от кнопки УЗНАТЬ БОЛЬШЕ до Рамки с текстом*/
	padding-bottom: 134px;
}
.main__equipment { /*Оформление рамки с текстом*/
	text-align: center;
	font-size: 20px;
	color: white;
	width: 988px;
	border:4px solid; /*Толщина основной рамки*/
	border-color: #ffc821;
	border-bottom:0px solid; /*Убриает нижнюю часть рамки*/
	padding-bottom:60px; /*Отступ вниз чтобы полосы рамки были до карточек*/
}
.main__equipment h1 { /*Размер шрифта для текста ПРОИЗВОДИМ... и отступ от рамки до текста*/
	padding-top:40px;
	font-size: 36px;
	font-weight: bold;
}
.main__equipment--text { /*Размер шрифта для текста ДЛЯ... и отступ сверху для этого текста*/
	padding-top: 16px;
	font-size: 18px;
	font-weight: 400;
}
.main__equipment-cards {
	width: 1110px;
	display: flex;
	justify-content: space-between;
}
.main__equipment-card {
	height: 290px;
	border:none;
	cursor:pointer;
}
.main__equipment-bottom-card {
	background-color:#c9d0da;
	position: relative;
	margin-top:-60px;
	width: 255px;
	height: 70px;
}
.main__equipment-bottom-card p {
	padding-top: 25px;
	font-size: 18px;
	font-weight: 600;
	color:black;
}
.main__equipment-bottom-card-arrow {
    padding-left:10px; 
    line-height:0;
    vertical-align:middle;
}
.main__equipment-card:hover u{ /*При наведении курсора на карточку из под текста исзечает линия*/
	text-decoration: none;
}
.main__top-bottom {
	background-color: #e2e4e8;
	margin: 0 auto;
	text-align:center;
	padding-top: 180px;
}
.main__top-bottom p {
	display: inline;
	font-size: 21px;
	font-weight: 500;
	padding-top: 48px;
}
.main__top-bottom-but { /*Отступ от текста И ЕШЁ... до кнопки*/
	padding-top:24px;
	padding-bottom:40px;
}
.main__top-bottom--button {
	line-height: 16px;
	padding: 21px 30px 23px 34px;
	font-size: 16px;
	font-weight: bold;
}
/*---------------УСЛУГИ------------------------------------------------------------*/
.main__services { /*Блок Услуг,цвет и высота блока*/ 
	background: #f2f2f2;
	height: 892px;
}
.main__services-container {
	width: 1110px;
	margin: 0 auto;
}
.swiper-container {
	position: relative;
}
.main__services h1 { /*Блок Заголовка НАШИ...: Отступ сверху и снизу, размера шрифта, толщина шрифта и по центру*/
	padding-top:80px;
	padding-bottom:50px;
	font-size: 36px;
	font-weight: 800;
	text-align: center;
}
.swiper-slide{
	width: 1110px;
	background:#fff;
	display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.swiper-slide:nth-child(2) {
	height: 530px;
	text-align:center;
	line-height: 530px;
	font-size: 46px;
}
.swiper-slide:nth-child(3) {
	height: 530px;
	text-align:center;
	line-height: 530px;
	font-size: 46px;
}
.swiper-slide:nth-child(4) {
	height: 530px;
	text-align:center;
	line-height: 530px;
	font-size: 46px;
}
.swiper-slide:nth-child(5) {
	height: 530px;
	text-align:center;
	line-height: 530px;
	font-size: 46px;
}
.swiper-slide:nth-child(6) {
	height: 530px;
	text-align:center;
	line-height: 530px;
	font-size: 46px;
}
.main__services-but { /*Кнопки влево и вправо*/
	border:none;
	background: #ffc821 url(img/left.svg) center no-repeat;
	width:57px;
	height:57px;
	cursor: pointer;
	position: absolute;
	z-index:5;
}
.main__services-but--prev { /*Отступ для левой стрелочки за край*/
	left:0px;
	z-index: 10;
}
.main__services-but--next { /*Отражение левой стрелочки и Отступ за край*/
	transform: rotate(180deg);
	right:0px;
}
.main__services-but:hover {/*Изменение цвета кнопки при наведении на неё курсора*/
	background-color: yellow;
}
.main__services-navigation {
	position: absolute;
	margin:0 auto;
	top: 45%;
	width: 100%;
}
.main__services-slider--logo-text h2 {
	font-size: 28px;
	font-weight: bold;
}
.main__services-slider-description {
	width: 650px;
	background:#fff;
	padding:62px 100px;
}
.main__services-slider-description ul { /*Выравнивание списка по вертикале*/
	display: block;
	margin-top:20px;
	margin-bottom: 40px;
}
.main__services-slider-description li {
	color:#333333;
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-weight: 500;
}
.main__services-slider-description li:before {
	background: url(img/galka.svg) center no-repeat;
	position:relative;
    content: "";
    height: 19px;
    width: 13px;
    left:-15px;
    top: 0;
}
.main__services-slider-button {
	line-height: 16px;
	padding: 20px 28px 19px 32px;
	text-align: center;
	font-size: 16px; 
	font-weight: bold;
}
.main__services-slider-button .main__button-arrow {
	padding-left:27px;
}
.main__services-switch {
	background-color:#dde1e7;
	width:1110px;
	height: 95px;
}
.main__services-switch ul{
	padding-top:25px;
  	padding-left:405px;
}
.main__services-switch button {
	background:#c9d0da;
	width:43px; 
	height:43px;
	border-radius:50%;
	margin-right:10px;
	font-size: 28px;
	color:#a6abb2;
	font-weight: 500;
	border:none;
	cursor:pointer;
}
/*--------------------------------------------------------------------------------*/
/*------------ЗОНЫ-РАБОТ----------------------------------------------------------*/
.main__areas {
	background: url(img/middle-slide.jpg) no-repeat;
	height: 915px;
	margin: 0 auto;
	text-align: center;
}
.main__areas-container {
	width: 1170px;
	margin:auto;
}
.main__areas-list--first-line, .main__areas-list--second-line{
	display:flex;
	text-align: center;
}
.main__areas h1 {
	font-size: 36px;
	padding-top: 100px;
	color:white;
	font-weight: 100;
	font-style: normal;
}
.main__areas--text{
	font-weight: 600;
	color:#ffc821;
	padding-bottom: 70px;
}
.main__areas-one {
	width: 370px;
	height: 258px;
	background: rgb(255, 200, 33);
	border: 1px solid #21252b;
	cursor: pointer;
	padding:19px 19px;
	position: relative;
}
.main__areas-one-num {
	width: 40px;
	height: 25px;
	background-color:#21252b;
	border-radius: 30px;
	font-size:16px;
	color:#ffc821;
	text-align: center;
	padding-top:4px;
}
.main__areas-one p {
	padding-top:30px;
	font-size: 21px;
	font-weight: 800;
}
/*--------------------------------------------------------------------------------*/
/*-----РЕГИСТРАЦИЯ----------------------------------------------------------------*/
.main__request{
	background-color: #f2f2f2;
	margin: 0 auto;
	text-align: center;
	padding-top: 90px;
}
.main__request h1{
	font-size: 36px;
	color:black;
	font-weight: 400;
}
.main__request--text {
	font-weight: 600;
	padding-bottom: 48px;
}
.main__request-container {
	margin:0 auto;
	display: flex;
	width: 970px;
	height: 595px;
	padding-bottom:100px;
}
.main__request-left-side {
	background: url(img/circul.jpg) no-repeat;
	width: 434px;
}
.main__request-container--text{
	background-color:#ffffff;
	text-align: left;
	padding:50px 60px;
}
.main__request-container--text h3 {
	font-size: 22px;
	padding-bottom: 8px;
}
.main__request-container--text p {
	padding-top: 5px;
	font-size: 15px;
}
.main__request-profile {
	padding-top: 10px;
	padding-bottom: 15px;
}
input[type="text"] {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	background-color: #f3f3f4;
	border: /**/ 1px solid #cccccc;
	border-radius: 5px;
	height: 48px;
	width: 360px;
	margin-bottom: 10px;
	padding-left:25px;
	padding-right:25px;
	outline: none;
}
input[type="text"]:focus {
  background-color: #ffffff;
}
.main__request-profile-description {
	font-family: 'Raleway', sans-serif;
	padding-top:10px;
	font-size: 13px;
	height: 95px;
	background-color: #f3f3f4;
	border: 1px solid #cccccc;
	border-radius: 5px;
	width: 360px;
	margin-bottom: 10px;
	padding-left:25px;
	padding-right:25px;
	outline: none;
	resize: none;
}
.main__request-profile-description:focus {
  background-color: #ffffff;
}
.main__request-profile-picture {
	background-color:white;
	height: 44px;
	width: 410px;
	border: 1px dashed #b0b0b2; 
	outline: none;
	cursor: pointer;
	text-align:center;
}
.main__request-profile-picture-img {
	position: relative;
	top:4px;
	left:-16px;
}
.main__request-profile-picture-img-none {
	display:none;
}
.main__request-profile-picture p {
	font-size:13px;
	font-weight: 400;
	padding-top:16px;
	color:#686f72;
    display: inline-block;
    border-bottom: 1px dotted #b0b0b2; 
}
.main__request-profile-button {
	border:none;
	line-height: 15px;
	padding:24px 166px 24px 166px;
	font-size: 15px;
	font-weight: 600;
}
.main__request-profile-alert {
	padding-top:25px;
	font-size: 13px;
	text-align: center;
	color:#686f72;
}
.main__request-profile-alert-star {
	position:relative;
	top:6px;
	font-size: 24px;
	color:red;
}
/*--------------------------------------------------------------------------------*/
/*------"ПОДВАЛ"------------------------------------------------------------------*/
.main__menu--footer a {
	color:#d8dcde;
	font-weight: 400;
	font-size:16px;
}
.main__menu--footer a:hover{
	color:#23292f;
}
footer {
	background-color:#343d45;
}
footer svg {
	position:relative;
	left:-24px;
	top:2px;
}
footer hr {
	border:none;
	background:#343d46;
	height: 1px;
}
.footer__container {
	height: 180px;
	background-color:#23292f;
}
.footer__container-left-side {
	background: url(img/logo-bot.png) no-repeat;
	width: 162px;
	height: 110px;
}
.footer__container--block {
	padding-top:40px;
	display: flex;
	width: 1170px;
	margin: 0 auto;
}
.footer__container--block p {
	padding-top:5px;
	color:#d8dcde;
	font-size:14px;
	font-weight: 400;
	padding-bottom:22px;
}
.footer__button-map {
	line-height: 14px;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 40px 16px 50px;
	color:#d8dcde;
	background-color:#23292f;
	border:1px solid #59626d; 
}
.footer__button-map:hover {
	background-color:#59626d;
	color:white;
}
.footer__button-map:hover path{
	fill:white;
}
.footer__container-phones {
	padding-top:4px;
	padding-left:65px;
}
.footer__container-phones dt {
	color:#a9aeb3;
	font-size:9px;
	font-width:600;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.footer__container-phones-number {
	color:white;
	font-size: 19px;
	font-weight: bold;
}
.footer__container-right-side {
	padding-left:70px;
}
.footer__container-right-side-buttons {
	padding-bottom: 13px;
}
.footer__button-call {
	line-height: 14px;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 30px 16px 46px;
	border:1px solid #59626d; 
}
.footer__button-call svg {
	left:-17px;
	top:3px;
}
.footer__button-send {
	line-height: 14px;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 45px 16px 42px;
	color:#d8dcde;
	background-color:#23292f;
	border:1px solid #59626d;
}
.footer__button-send svg {
	left:-15px;
	top:5px;
}
.footer__button-send:hover {
	background-color:#59626d;
	color:white;
}
.footer__button-send:hover path{
	fill:white;
}
.fotter__bottom {
	text-align: center;
	height: 64px;
	background-color: #23292f;
	color:#5a636f;
	font-size: 14px;
}
.fotter__bottom p {
	padding-top: 28px;
}
/*----------------------------------------------------------------------------------*/

/*------------------ПОДКЛЮЧЕНИЕ-ШРИФТОВ---------------------------------------------*/
@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Black.eot');
	src: local('fonts/Raleway Black'), local('Raleway-Black'),
		url('fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Black.woff') format('woff'),
		url('fonts/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-ExtraLight.eot');
	src: local('fonts/Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url('fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-ExtraLight.woff') format('woff'),
		url('fonts/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Medium.eot');
	src: local('fonts/Raleway Medium'), local('Raleway-Medium'),
		url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Medium.woff') format('woff'),
		url('fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-LightItalic.eot');
	src: local('fonts/Raleway Light Italic'), local('Raleway-LightItalic'),
		url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-LightItalic.woff') format('woff'),
		url('fonts/Raleway-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.eot');
	src: local('fonts/Raleway'), local('Raleway-Regular'),
		url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Regular.woff') format('woff'),
		url('fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Light.eot');
	src: local('fonts/Raleway Light'), local('Raleway-Light'),
		url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Light.woff') format('woff'),
		url('fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Thin.eot');
	src: local('fonts/Raleway Thin'), local('Raleway-Thin'),
		url('fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Thin.woff') format('woff'),
		url('fonts/Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-ExtraBoldItalic.eot');
	src: local('fonts/Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
		url('fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
		url('fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-ExtraLightItalic.eot');
	src: local('fonts/Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
		url('fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-ExtraLightItalic.woff') format('woff'),
		url('fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-MediumItalic.eot');
	src: local('fonts/Raleway Medium Italic'), local('Raleway-MediumItalic'),
		url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-MediumItalic.woff') format('woff'),
		url('fonts/Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-BoldItalic.eot');
	src: local('fonts/Raleway Bold Italic'), local('Raleway-BoldItalic'),
		url('fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-BoldItalic.woff') format('woff'),
		url('fonts/Raleway-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-ThinItalic.eot');
	src: local('fonts/Raleway Thin Italic'), local('Raleway-ThinItalic'),
		url('fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-ThinItalic.woff') format('woff'),
		url('fonts/Raleway-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-SemiBoldItalic.eot');
	src: local('fonts/Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
		url('fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-SemiBoldItalic.woff') format('woff'),
		url('fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-SemiBold.eot');
	src: local('fonts/Raleway SemiBold'), local('Raleway-SemiBold'),
		url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-SemiBold.woff') format('woff'),
		url('fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Italic.eot');
	src: local('fonts/Raleway Italic'), local('Raleway-Italic'),
		url('fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Italic.woff') format('woff'),
		url('fonts/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Bold.eot');
	src: local('fonts/Raleway Bold'), local('Raleway-Bold'),
		url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Bold.woff') format('woff'),
		url('fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-ExtraBold.eot');
	src: local('fonts/Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-ExtraBold.woff') format('woff'),
		url('fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-BlackItalic.eot');
	src: local('fonts/Raleway Black Italic'), local('Raleway-BlackItalic'),
		url('fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-BlackItalic.woff') format('woff'),
		url('fonts/Raleway-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
/*--------------------------------------------------------------------------------*/